body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #5c2d90;
}

header.navbar {
  background-color: #5c2d90; /* Change to your desired color */
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px; /* Adjust the size as needed */
  height: auto;
  margin-right: 10px; /* Add some spacing between the logo and navigation */
}

.navbar nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar nav ul li {
  display: inline-block;
  margin-left: 10px;
}

.navbar nav ul li a {
  color: #c0bed2;
  text-decoration: none;
  padding: 5px;
  border-radius: 3px;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ebdfff; /* Change to your desired light violet color */
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


h1 {
  text-align: center;
}

.search-bar,
.filter-bar {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
select {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #d7cce4;
  width: 100%;
}

#developer-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.developer-card {
  background-color: #d7cce4;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.developer-card h3 {
  margin: 0;
}

.developer-card p {
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
}
